<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: system-ui;
        font-size: xx-large;
      }

      form {
        display: flex;
        gap: 60px;
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h2>Web Cnab</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>
